<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='../public/css/style.css'>
		<title>
			Twitter
		</title>
	</head>
	<body>
		<header>
			<section class='nav-bar-container'>
				<nav class='nav-bar'>
					<ul class='nav-items-right'>
						<li class='nav-home'>
							<a href='#'>
								<span class="Icon Icon--home Icon--large"></span>
								<span class='text'>Home</span>
							</a>
						</li>
						<li class='nav-notifications'>
							<a href='#'>
								<span class="Icon Icon--connect Icon--large"></span>
								<span class='text'>Connect</span>
							</a>
						</li>
						<li class='nav-topics'>
							<a href='#'>
								<span class="Icon Icon--discover Icon--large"></span>
								<span class='text'>Discover</span>
							</a>
						</li>
						<li class='nav-profile'>
							<a href='#'>
								<span class="Icon Icon--me Icon--large"></span>
								<span class='text'>Me</span>
							</a>
						</li>
					</ul>
					<img class='nav-icon' src='http://i.imgur.com/JJ3TOHT.gif'></img>
					<form class='nav-global-search' action='/search' method='post'>
						<input class='search-input' type='text' placeholder='Search Twitter' name='query'>
						<button type='submit' class='search-icon'></button>
					</form>
					<ul class='nav-items-left'>
						<li class='nav-direct-msg'>Direct Message</li>
						<li class='nav-settings'>Settings</li>
						<li class='new-tweet'>New Tweet</li>
					</ul>
				</nav>
			</section>
		</header>
		<main class='page-wrapper'>
			<aside id='dashboard-left' class='dashboard'>
				<section class='dashboard-profile-card'>
					<section class='dashboard-profile-card-block-link'>
						<a href='foxjerem' tabindex= -1 aria-hidden='true'></a>
					</section>
					<section class='dashboard-profile-card-content'>
						<img class='dashboard-avatar' src='http://i.imgur.com/cR9CNzL.jpg?1'/>
						<article class='dashboard-user-info'>
							<h1 class='dashboard-name'>Jeremy Fox</h1> 
							<h2 class='dashboard-user'>
								<a href='/foxjerem'>@foxjerem</a>
							</h2>
						</article>
						<section class='dashboard-user-stats'>
							<ul class='dashboard-user-stats-list'>
								<li class='user-stat'>
									<h3 class='user-stat-header'>TWEETS</h3>
									<var class='user-stat-data-item'>0</var>
								</li>
								<li class='user-stat'>
									<h3 class='user-stat-header'>FOLLOWING</h3>
									<var class='user-stat-data-item'>2</var>
								</li>
								<li class='user-stat'>
									<h3 class='user-stat-header'>FOLLOWERS</h3>
									<var class='user-stat-data-item'>1</var>
								</li>
							</ul>
					</section>
					</section>
					<section class='dashboard-tweet-box'>
						<form class='tweet-box' action='/tweets/new' method='post'>
							<input type='text' name='tweet-body' placeholder='Compose new Tweet...'>
							<button class='submit-tweet-button' type='submit'>
						</form>
					</section>
				</section>
				<section class='dashboard-trends-holder'>
					<article class='dashboard-trends'>
						<h1 class='dashboard-trends-header'>Trends</h1>
						<ul class='dashboard-trends-list'>
							<li class='dashboard-trend-item'>#Something</li>
							<li class='dashboard-trend-item'>#Something Else</li>
							<li class='dashboard-trend-item'>#More things</li>
							<li class='dashboard-trend-item'>#Trends</li>
							<li class='dashboard-trend-item'>#MeMeMeMe	</li>
						</ul>
					</article>
				</section>	
			</aside>
			<section class='main-feed'>
				<h1 class='main-feed-header'>Tweets</h1>
				<section class='stream-holder'>
					<section class='tweet-holder'>
						<article class='tweet-body'> Tweet Tweet Tweet </article>
					</section>
					<section class='tweet-holder'>
						<article class='tweet-body'> Twoot Twoot Twoot </article>
					</section>
				</section>
			</section>
			<aside id='dashboard-right' class='dashboard'>
				<section class='dashboard-link-container'>
					<nav class='dashboard-nav'>
						<ul class='dashboard-nav-link-list'>
							<li class='dashboard-nav-link'>@2014 Twitter</li>
							<li class='dashboard-nav-link'><a href='/about'>About</a></li>
							<li class='dashboard-nav-link'><a href='/help'>Help</a></li>
							<li class='dashboard-nav-link'><a href='/terms'>Terms</a></li>
							<li class='dashboard-nav-link'><a href='/privacy'>Privacy</a></li>
							<li class='dashboard-nav-link'><a href='/cookies'>Cookies</a></li>
							<li class='dashboard-nav-link'><a href='/brand'>Brand</a></li>
							<li class='dashboard-nav-link'><a href='/blog'>Blog</a></li>
						</ul>
					</nav>
				</section>
			</aside>
		</main>
	</body>
</html>