<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='/css/style.css'>
		<title>Twitter</title>
	</head>
	<body>
		<header>
			<nav class='nav-bar'>
				<ul class='nav-items-right'>
					<li class='nav-home'>Home</li>
					<li class='nav-notifications'>Notifications</li>
					<li class='nav-topics'>Discover</li>
					<li class='nav-profile'>Me</li>
				</ul>
				<img>Insert Twitter Icon</img>
				<form id='search-bar'>
				</form>
				<ul class='nav-itmes-left'>
					<li class='nav-direct-msg'>Direct Message</li>
					<li class='nav-settings'>Settings</li>
					<li class='new-tweet'>New Tweet</li>
				</ul>
			</nav>
		</header>
		<main>
			<aside id='dashboard-left' class='dashboard'>
				<section class='dashboard-profile-card'>
					<h1 class='dashboard-h1'>Jeremy Fox</h1> 
				</section>
				<section class='trends'>
					<h1 class='dashboard-h1'>Trends</h1>
				</section>	
			</aside>
			<section class='main-feed'>
				<h1 class='main-feed-header'>Tweets</h1>
			</section>
			<aside id='dashboard-right' class='dashboard'>
			</aside>
		</main>
	</body>
</html>