/*Page body*/

body{
	background-image: url(https://abs.twimg.com/images/themes/theme1/bg.png);
	background-position: left 40px;
	background-attachment: fixed;
	background-repeat: repeat;
	background-repeat: no-repeat;
	background-color: #C0DEED;
	font-family: "Gotham Narrow SSm",sans-serif,Arial;
}

a {
	color: black;
}

.page-wrapper {
	width: 1190px;
	margin: 0 auto;
}

/*Navigation bar*/

.nav-icon {
	width: 40px;
	height: auto;
	margin: 0px 100px;
}

.nav-bar-container {
	height: 50px;
	width: 100%;
	display: inline-block;
	background-color: white;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	text-align: center;
}


.nav-bar {
	margin-left: auto;
  margin-right: auto;
 	width: 1190px;
	height:	50px;
	display: inline-flex;
	align-items: center;
}

.nav-items-right {
	list-style-type: none;
	display: inline-flex;
}

.nav-items-right li{
	margin-right: 20px;
}

.nav-items-left {
	list-style-type: none;
	display: inline-flex;
}

.nav-items-left li{
	margin-right: 20px;
}

/*User dashboard left*/
.dashboard {
	float: left;
	width: 290px;
}

.dashboard-profile-card {
	background-color: white;
	border-radius: 8px;
	margin-top: 80px;
}

.dashboard-avatar {
	width: 80px;
	height: 80px;
	border-radius: 8px;
	margin: -40px 0 0 10px;
}

.dashboard-user-info {
	margin-top: -40px;
	margin-left: 90px;
}

.dashboard-name {
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	margin: 0;
	margin-left: 10px;
}

.dashboard-user {
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	margin-left: 10px;
}

.dashboard-user a {
	font-size: 14px;
	color: #8c9ca9;
	font-weight: normal;
}

.user-stat-data-item {
	font-size: 18px;
	font-weight: 500;
	color: #0084B4;
	font-style: normal;
}

.dashboard-user-stats {
	text-align: center;
}

.dashboard-user-stats-list {
	margin: 0 auto;
	list-style-type: none;
	display: inline-flex;
	text-align: center;
	padding: 0;
}

.user-stat-header {
	color: #8c9ca9;
	font-size: 10px;
	font-weight: normal;
	margin-bottom: 0;
}

.user-stat {
	margin-right: 25px;
	margin-left: 10px;
}

.dashboard-profile-card-block-link {
	background-color: #0084B4;
	height: 95px;
	border-radius: 8px 8px 0 0;
}

.dashboard-tweet-box {
	background-color: #E5F2F7;
	border-radius: 0 0 8px 8px;
	height:	50px;
	text-align: center;
	vertical-align: middle;
	padding-top: 20px;
}

.dashboard-tweet-box button {
	display: none;
}

.tweet-box input {
	width: 250px;
	font-size: 14px;
	font-weight: 300;
}

.dashboard-trends-holder {
	background-color: white;
	border-radius: 8px;
	margin-top: 10px;
	color: #0084B4;
}


.dashboard-trends-header {
	font-weight: 500;
	margin-bottom: 0px;
}

.dashboard-trends-holder li {
	list-style: none;
	font-weight: 100;
	font-size: 14px;
}

.dashboard-trends ul {
	margin-top: 5px;
}


/*User dashboard right*/
.dashboard-link-container {
	background-color: white;
	border-radius: 8px;
	margin-top: 80px;
}

.dashboard-nav-header {
	color: #0084B4;
	font-weight: normal;
	
}

.dashboard-nav-link-list a, ul{
	color: #0084B4;
	text-decoration: none;
	list-style: none;
}

/*Main Feed*/

.main-feed {
	float: left;	
	width: 590px;
	background-color: white;	
	margin-top: 80px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 8px;
}

.main-feed-header {
	color: #66757f;
	font-size: 22px;
	font-weight: 300;
	line-height: 22px;
	margin-left: 10px;
}

