/*Page body*/
@font-face {
	font-family: 'rosettaicons';
	font-style: normal;
	font-weight: normal;
	src: url('http://dev.bradsknutson.com/demos/twitter-navigation/css/rosetta-icons-Regular.eot');
	src: url('http://dev.bradsknutson.com/demos/twitter-navigation/css/rosetta-icons-Regular.eot?#iefix') format('eot'), 
	url('http://dev.bradsknutson.com/demos/twitter-navigation/css/rosetta-icons-Regular.woff') format('woff'), 
	url('http://dev.bradsknutson.com/demos/twitter-navigation/css/rosetta-icons-Regular.ttf') format('truetype');
}


body{
	background-image: url(https://abs.twimg.com/images/themes/theme1/bg.png);
	background-position: left 40px;
	background-attachment: fixed;
	background-repeat: repeat;
	background-repeat: no-repeat;
	background-color: #C0DEED;
	font-family: "Gotham Narrow SSm",sans-serif,Arial;
}

a {
	color: black;
}

.page-wrapper {
	width: 1190px;
	margin: 0 auto;
}

/*Navigation bar*/

.nav-icon {
	width: 40px;
	height: auto;
	margin: 0px 100px;
}

.nav-bar-container {
	height: 50px;
	width: 100%;
	display: inline-block;
	background-color: white;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	text-align: center;
}


.nav-bar {
	margin-left: auto;
  margin-right: auto;
 	width: 1190px;
	height:	50px;
	display: inline-flex;
	align-items: center;
}

.nav-bar > li {
	color: #66757f;
	position: relative;
}

.nav-items-right {
	list-style-type: none;
	display: inline-flex;
	margin-top: 0;
	margin-bottom: 10px;
	padding-top: 25px;
}

.nav-items-right li{
	margin-right: 20px;
}

.nav-items-left {
	list-style-type: none;
	display: inline-flex;
	margin-top: 0;
	margin-bottom: 10px;
	padding-top: 25px;
	margin-left: 35px;
}

.nav-items-left li{
	margin-right: 30px;
}

.Icon--large {
	font-size: 21px;
	line-height: 1;
}

.Icon--small {
	font-size: 15px;
	line-height: 1;
	color: white;
	border: none;
}

.Icon--Xlarge {
	font-size: 30px;
	line-height: 1;
	background-color: #8c9ca9;
	margin-top: -4px;
	opacity: 0.5;
}

.Icon--Xlarge:hover {
	opacity: 1;
}

.Icon {
	background: transparent;
	font-style: normal;
	display: inline-block;
	vertical-align: baseline;
}

.Icon:before {
	font-family: 'rosettaicons';
	display: block;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

.Icon--home:before { content: "\f053"; }
.Icon--connect:before { content: "\f050"; }
.Icon--discover:before{ content: "\f052"; }
.Icon--me:before { content: "\f056"; }
.Icon--message:before { content: "\f054"; }
.Icon--settings:before { content: "\f059"; }
.Icon--tweet:before { 
	content: "\f029"; 
	background: #0084B4;
	padding: 3px 7px;
	border-radius: 6px;
	color: white;
}
.Icon--search:before { content: "\f058"; }

.nav-bar > ul > li > a {
	color: inherit;
	display: block;
	font-size: 13px;
	font-weight: 500;
	height: 46px;
	padding: 0 14px 0 4px;
	text-shadow: none;
	line-height: 1;
	text-decoration: none;
	font-family: "Gotham Narrow SSm",sans-serif,Arial;
	color: #8c9ca9;
}

.nav-bar > ul > li > a:hover {
	color: inherit;
	text-decoration: none;
}

.nav-bar > ul > li:hover {
	color: #0084B4
}

.nav-global-search {
	background-color: grey;
	padding: 7px;
	border-radius: 20px;
}

.search-input {
	background-color: grey;
	border: none;
	font-size: 13px;
	padding-left: 10px;
	color: white;
}

#dialogue {
	background-color: #E5F2F7;
	font-size: 13px;
}

#pop-up-tweet-input {
	height: 65px;
	width: 200px;
	text-align: center;x§
	margin-top: -20px;
	 
}

.ui-widget-header {
	background: none !important;
	background-color: white !important;
	border: none !important;
	font-size: 15px !important;
	font-family: "Gotham Narrow SSm",sans-serif,Arial !important;
	color: #8c9ca9 !important;
	font-weight: normal !important;
	text-align: center !important;
}

.ui-dialog {
	padding: 0px !important;
}

/*User dashboard left*/
.dashboard {
	float: left;
	width: 290px;
}

.dashboard-profile-card {
	background-color: white;
	border-radius: 8px;
	margin-top: 80px;
}

.dashboard-avatar {
	width: 80px;
	height: 80px;
	border-radius: 8px;
	margin: -40px 0 0 10px;
	background-color: white;
	padding: 3px;
}

.dashboard-user-info {
	margin-top: -40px;
	margin-left: 90px;
}

.dashboard-name {
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	margin: 0;
	margin-left: 10px;
}

.dashboard-user {
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	margin-left: 10px;
}

.dashboard-user a {
	font-size: 14px;
	color: #8c9ca9;
	font-weight: normal;
}

.user-stat-data-item {
	font-size: 18px;
	font-weight: 500;
	color: #0084B4;
	font-style: normal;
}

.dashboard-user-stats {
	text-align: center;
}

.dashboard-user-stats-list {
	margin: 0 auto;
	list-style-type: none;
	display: inline-flex;
	text-align: center;
	padding: 0;
}

.user-stat-header {
	color: #8c9ca9;
	font-size: 10px;
	font-weight: normal;
	margin-bottom: 0;
}

.user-stat {
	margin-right: 25px;
	margin-left: 10px;
}

.dashboard-profile-card-block-link {
	background-color: #0084B4;
	height: 95px;
	border-radius: 8px 8px 0 0;
}

.dashboard-tweet-box {
	background-color: #E5F2F7;
	border-radius: 0 0 8px 8px;
	height:	50px;
	text-align: center;
	vertical-align: middle;
	padding-top: 20px;
}

.dashboard-tweet-box button {
	display: none;
}

.tweet-box input {
	width: 250px;
	font-size: 14px;
	font-weight: 300;
}

.dashboard-trends-holder {
	background-color: white;
	border-radius: 8px;
	margin-top: 10px;
	color: #0084B4;
}

#dialogue > form > input {
	height: 50px;
	width: 200px;
}


.dashboard-trends-header {
	font-weight: 500;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-top: 10px;
}

.dashboard-trends-holder li {
	list-style: none;
	font-weight: 100;
	font-size: 14px;
}

.dashboard-trends ul {
	margin-top: 5px;
}


/*User dashboard right*/

.dashboard-nav {
	padding: 10px;
}

.dashboard-link-container {
	background-color: white;
	border-radius: 8px;
	margin-top: 80px;
}

.dashboard-nav-header {
	color: #0084B4;
	font-weight: normal;

}

.dashboard-nav-link-list a, ul{
	font-weight: 100;
	font-size: 14px;
	color: #0084B4;
	text-decoration: none;
	list-style: none;
	padding-left: 20px;
}

.dashboard-nav-link {
	display: inline-block;
	margin-right: 5px;
}

/*Main Feed*/

.main-feed {
	float: left;	
	width: 590px;
	background-color: white;	
	margin-top: 80px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 8px;
}

.main-feed-header {
	color: #66757f;
	font-size: 22px;
	font-weight: 300;
	line-height: 22px;
	margin-left: 10px;
}

.tweet-holder {
	border-top: 1px solid #e1e8ed;
	padding: 10px;
	margin: 0px;
}



